*{
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1000px;
  margin: auto;
  background: olive;
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 100px 500px 60px 60px;
  font-weight: bold;
}
.br{
  border: 5px solid #fff;
}
header {
  grid-area: 1 / 1 / 2 / 3;
}
nav {
  grid-area: 2 / 1 / 4 / 2;
}
article {
  grid-area: 2 / 2 / 3 / 3;
}
aside {
  grid-area: 3 / 2 / 4 / 3;
}
footer {
  grid-area: 4 / 1 / 5 / 3;
}
